<% @tweets.each do |tweet| %>
  <div class="smartbox">
    <div class="klout">
      <p>Klout</p>
    </div>
    <div class="tweeter_image">
      <%= image_tag current_user.image, :class => "user_image" %>
    </div>
    <div class="tweet_text">
      <p><%= tweet.text %></p>
    </div>
    <div class="sort_options">
      <div class="timestamp">
        <p>timestamp</p>
      </div>
      <div class="retweet">
        <p>T</p>
      </div>
      <div class="starred">
        <p>S</p>
      </div>
      <div class="respond">
        <p>R</p>
      </div>
      <div class="archive">
        <p>A</p>
      </div>
    </div>
  </div>
<% end %>
