<div id="sort_tab_bar">
  <div class="sort_tab_names">
   <ul>
      <li><%= link_to 'Inbox', home_path %></li>
      <li>Reply To</li>
      <li>Flagged</li>
      <li><%= link_to 'Archive', archive_page_path %></li>
    </ul>
  </div>
</div>
