<!DOCTYPE html>
<html>
<div id="wrapper">
  <head>
    <meta charset="utf-8">
    <h1>Inbox</h1>
  </head>

  <body>
    <div id="content-main">
      <article>
        <div id="smartbox">
          <p> Sample tweet</p>
        </div>
      </article>
    </div>
  </body>
</div>
</html>
