<!DOCTYPE html>
<html>
<div id="wrapper">
  <head>
    <meta charset="utf-8">
  </head>

  <body>
    <h1>Inbox</h1>
    <div id="content-main">
      <article>
        <div id="smartbox">
          <div id="klout">
            <p>Klout</p>
          </div>
          <div id="tweeter_image">
            <p>user pic</p>
          </div>
          <div id="tweet_text">
            <p> Sample tweet</p>
          </div>
          <div id="sort_options">
            <p>sort</p>
            <div id="timestamp">
              <p>timestamp</p>
            </div>
            <div id="retweet">
              <p>RT</p>
            </div>
            <div id="starred">
              <p>S</p>
            </div>
            <div id="respond">
              <p>R</p>
            </div>
            <div id="archive">
              <p>A</p>
            </div>
          </div>
        </div>
      </article>
    </div>
  </body>
</div>
</html>
