---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/mentions_timeline.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="YSeuV5nQGiBDbtKbrWKdQ", oauth_nonce="f1e2670e6dbeef9909c575dd909f1fe4",
        oauth_signature="v9xTKXXJy9HHSkX16T%2BSeJPWUtg%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1389666168", oauth_token="59794266-Ijopb1EtRuBObeDGB7xuvCZGh8Cka2ZJEXfO1OlKv",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Tue, 14 Jan 2014 02:22:48 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '14'
      X-Rate-Limit-Reset:
      - '1389667068'
      X-Transaction:
      - 114b1898c9e2a9e4
    body:
      encoding: UTF-8
      string: |-
        [
          {
            "created_at": "Thu Jan 09 18:20:51 +0000 2014",
            "id": 421345842830639104,
            "id_str": "421345842830639104",
            "text": "Haven't seen @jsl_demo_07 in awhile :(",
            "source": "web",
            "truncated": false,
            "in_reply_to_status_id": null,
            "in_reply_to_status_id_str": null,
            "in_reply_to_user_id": null,
            "in_reply_to_user_id_str": null,
            "in_reply_to_screen_name": null,
            "user": {
              "id": 59792365,
              "id_str": "59792365",
              "name": "Flaky",
              "screen_name": "jsl_demo_01",
              "location": "China,Ilinions",
              "description": "I like long walks on the beach and am also addicted to crack.",
              "url": null,
              "entities": {
                "description": {
                  "urls": [

                  ]
                }
              },
              "protected": false,
              "followers_count": 19,
              "friends_count": 34,
              "listed_count": 0,
              "created_at": "Fri Jul 24 14:14:13 +0000 2009",
              "favourites_count": 17,
              "utc_offset": null,
              "time_zone": null,
              "geo_enabled": false,
              "verified": false,
              "statuses_count": 810,
              "lang": "en",
              "contributors_enabled": false,
              "is_translator": false,
              "profile_background_color": "C0DEED",
              "profile_background_image_url": "http://abs.twimg.com/images/themes/theme1/bg.png",
              "profile_background_image_url_https": "https://abs.twimg.com/images/themes/theme1/bg.png",
              "profile_background_tile": false,
              "profile_image_url": "http://pbs.twimg.com/profile_images/411998787096150016/WxxMdksC_normal.jpeg",
              "profile_image_url_https": "https://pbs.twimg.com/profile_images/411998787096150016/WxxMdksC_normal.jpeg",
              "profile_link_color": "0084B4",
              "profile_sidebar_border_color": "C0DEED",
              "profile_sidebar_fill_color": "DDEEF6",
              "profile_text_color": "333333",
              "profile_use_background_image": true,
              "default_profile": true,
              "default_profile_image": false,
              "following": true,
              "follow_request_sent": false,
              "notifications": false
            },
            "geo": null,
            "coordinates": null,
            "place": null,
            "contributors": null,
            "retweet_count": 0,
            "favorite_count": 0,
            "entities": {
              "hashtags": [

              ],
              "symbols": [

              ],
              "urls": [

              ],
              "user_mentions": [
                {
                  "screen_name": "jsl_demo_07",
                  "name": "jsl_demo_07",
                  "id": 59794266,
                  "id_str": "59794266",
                  "indices": [
                    13,
                    25
                  ]
                }
              ]
            },
            "favorited": false,
            "retweeted": false,
            "lang": "en"
          },
          {
            "created_at": "Thu Jan 09 18:20:36 +0000 2014",
            "id": 421345778632634368,
            "id_str": "421345778632634368",
            "text": "@jsl_demo_07 Whatsup dude?",
            "source": "web",
            "truncated": false,
            "in_reply_to_status_id": null,
            "in_reply_to_status_id_str": null,
            "in_reply_to_user_id": 59794266,
            "in_reply_to_user_id_str": "59794266",
   [...]
