---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/mentions_timeline.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="P0X5VQF0j5KVm4GxNsoIQ", oauth_nonce="3d87a95d9ae5ef86ce97329338159d92",
        oauth_signature="FQBpvo1z5DnCLpETBCTsh4LhODU%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1390423597", oauth_token="59794266-2m2WpWfGKKSEhZFJ2vt5dcUn7phC5VfZfZeQzed2q",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Wed, 22 Jan 2014 20:46:37 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '14'
      X-Rate-Limit-Reset:
      - '1390424497'
      X-Transaction:
      - bcfbea118d76e538
    body:
      encoding: UTF-8
      string: |-
        [
          {
            "created_at": "Wed Jan 22 16:33:43 +0000 2014",
            "id": 426029922860007424,
            "id_str": "426029922860007424",
            "text": "@jsl_demo_01 @jsl_demo_07 workers working?",
            "source": "<a href=\"http://www.example.com\" rel=\"nofollow\">SocialSmarts_gSchoolers</a>",
            "truncated": false,
            "in_reply_to_status_id": 421345778632634368,
            "in_reply_to_status_id_str": "421345778632634368",
            "in_reply_to_user_id": 59792365,
            "in_reply_to_user_id_str": "59792365",
            "in_reply_to_screen_name": "jsl_demo_01",
            "user": {
              "id": 59794266,
              "id_str": "59794266",
              "name": "jsl_demo_07",
              "screen_name": "jsl_demo_07",
              "location": "Denver, CO",
              "description": "This is my bio.",
              "url": null,
              "entities": {
                "description": {
                  "urls": [

                  ]
                }
              },
              "protected": false,
              "followers_count": 22,
              "friends_count": 22,
              "listed_count": 0,
              "created_at": "Fri Jul 24 14:22:17 +0000 2009",
              "favourites_count": 3,
              "utc_offset": null,
              "time_zone": null,
              "geo_enabled": true,
              "verified": false,
              "statuses_count": 443,
              "lang": "en",
              "contributors_enabled": false,
              "is_translator": false,
              "profile_background_color": "C0DEED",
              "profile_background_image_url": "http://abs.twimg.com/images/themes/theme1/bg.png",
              "profile_background_image_url_https": "https://abs.twimg.com/images/themes/theme1/bg.png",
              "profile_background_tile": false,
              "profile_image_url": "http://pbs.twimg.com/profile_images/411971979143438336/WUZlmIBt_normal.png",
              "profile_image_url_https": "https://pbs.twimg.com/profile_images/411971979143438336/WUZlmIBt_normal.png",
              "profile_banner_url": "https://pbs.twimg.com/profile_banners/59794266/1379003602",
              "profile_link_color": "0084B4",
              "profile_sidebar_border_color": "C0DEED",
              "profile_sidebar_fill_color": "DDEEF6",
              "profile_text_color": "333333",
              "profile_use_background_image": true,
              "default_profile": true,
              "default_profile_image": false,
              "following": false,
              "follow_request_sent": false,
              "notifications": false
            },
            "geo": null,
            "coordinates": null,
            "place": null,
            "contributors": null,
            "retweet_count": 0,
            "favorite_count": 0,
            "entities": {
              "hashtags": [

              ],
              "symbols": [

              ],
              "urls": [

              ],
              "user_mentions": [
                {
                  "screen_name": "jsl_demo_01",
                  "name": "Flaky",
                  "id": 59792365,
                  "id_str": "59792365",
                  "indices": [
                    0,
                    12
                  ]
                },
                {
                  "screen_name": "jsl_demo_07",
                  "name": "jsl_demo_07",
                  "id": 59794266,
                  "id_str": "59794266",
                  "indices": [
                    13,
                    25
                  ]
                }
              ]
            },
            "favorited": false,
            "retweeted": false,
            "lang": "en"
          },
          {
            "created_at": "Wed Jan 22 16:30:21 +0000 2014",
            "id": 426029074515894272,
            "id_str": "426029074515894272",
            "text": "@jsl_demo_01 @jsl_demo_07 response tweet",
            "source": "<a href=\"http://www.example.com\" rel=\"nofollow\">SocialSmarts_gSchoolers</a>",
            "truncated": false,
            "in_reply_to_status_id": 423217229841186816,
            "in_reply_to_status_id_str": "[...]
