// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#wrapper {
  position: relative;
  width: 830px;
  height: auto;
  min-height: 100%;
  padding: 10px 14px 15px;
  margin: 0 auto;
  background-color: white;
  overflow: hidden;
}

#content-main {
  width: 750;
  height: auto;
  min-height: 100%;
  padding: 10px;
  position: relative;
  background-color: #CED5D6;
  overflow: hidden;
}

.smartbox {
  float: none;
}

.klout, .tweeter_image {
  float: left;
  margin: 2px;
  height: 120px;
  width: 15%;
  border-style: dashed;
  border-width: 2px;
  border-color: yellow;
}

.user_image {
  width: 100%;
  height: auto;
}

.tweet_text {
  float: left;
  margin: 2px;
  height: 120px;
  width: 40%;
  border-style: dashed;
  border-width: 2px;
  border-color: yellow;
}

.sort_options {
  float: left;
  margin: 2px;
  height: 120px;
  width: 26%;
  border-style: dashed;
  border-width: 2px;
  border-color: yellow;
}

.timestamp {
  margin: 5px;
}

.retweet, .starred, .respond, .archive {
  float: left;
  height: 40px;
  width: 8%;
  padding-left: 8%;
  padding-right: 8%;
  position: relative;
  top: 17%;
  margin: 0 auto;
  border-style: solid;
  border-width:  1px;
  border-color: black;
}
