// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#wrapper {
  background-color: #DBF0F4;
  height: auto;
  min-height: 100%;
  margin: 0 auto;
  margin-top: 65px;
  padding: 0px 14px 15px;
  position: relative;
  overflow: hidden;
  width: 830px;
}

#sort_tab_bar {
  background-color: #B8E3ED;
  border-color: #8BD5EB;
  border-style: solid;
  border-width: 0px 0px 5px 0px;
  height: 50px;
  margin:0;
  padding:0;
  position: fixed;
  top: 60;
  width: 830px;
  z-index: 1;

 -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
 -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
    box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

.sort_tab_names li {
  float: left;
  letter-spacing: 1px;
  font-size: 1.1;
  font-weight: bold;
  height: 35px;
  list-style:none;
  padding: 15px 20px 0px 19px;
  margin-top: -12px;
  margin-left: -39px;
  text-align:center;
  width: 25%;
}

.sort_tab_names li a {
  text-decoration: none;
}

.sort_tab_names li:hover {
  background-color: #8BD5EB;
  -webkit-border-radius: 15px 15px 0px 0px;
  -moz-border-radius: 15px 15px 0px 0px;
    border-radius: 15px 15px 0px 0px;
   // -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
   // -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
   //    box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

#content-main {
  background-color: white;
  border-color: #E4EAEB;
  border-style: solid;
  border-width: 1px;
  height: auto;
  min-height: 100%;
  overflow: hidden;
  padding: 55px 0px 0px 0px;
  width: 830;

  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
        border-radius: 5px 5px 5px 5px;
   -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
   -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
      box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

.smartbox {
  border-color: #E4EAEB;
  border-style: solid;
  border-width: 0px 0px 2px 0px;
  clip-path: url(profile_image_uri);
  height: 95px;
  float: none;
  position: relative;
  width: 830px;
  padding: 10px 0px 10px 0px;
  overflow: hidden;
}

.tweeter_details {
  float: left;
  margin-left: 25px;
}

// .dropt {
// //   span.dropt {border-bottom: thin dotted; background: #ffeedd;}
// //   span.dropt:hover {text-decoration: none; background: #ffffff; z-index: 6; }
// //   span.dropt span {position: absolute; left: -9999px;
// //     margin: 20px 0 0 0px; padding: 3px 3px 3px 3px;
// //     border-style:solid; border-color:black; border-width:1px; z-index: 6;}
//   span.dropt:hover span {left: 2%; background: #ffffff;} 
//   span.dropt span {position: absolute; left: -9999px;
//     margin: 4px 0 0 0px; padding: 3px 3px 3px 3px; 
//     border-style:solid; border-color:black; border-width:1px;}
//   // span.dropt:hover span {margin: 1px 0 0 5px; background: #ffffff; z-index:6;} 
// }

.klout p {
  // float: left;
  // margin-top: 47px;
  // color: white;
  margin-left: 90px;
  // margin-right: 1px;
  padding: 2px;
  font-size: .9em;
  text-align: center;
  background-color: #DBF0F4;
}

#klout_score {
  background-color: #DB5C40;
  color: white;
}

.tweeter_image {
  float: left;
  height: 70px;
  width: 70px;
  margin-top: -20px;
}

.user_image {
  height: auto;
  width: 100%;

  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
      border-radius: 5px 5px 5px 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
      box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

.tweet_text {
  border-style: solid;
  border-width: 0px 1px 0px 1px;
  border-color: #EDF4F5;
  float: left;
  margin-top: -13px;
  padding-left: 10px;
  position: relative; 
  left: 6%;
  height: 120px;
  width: 51%;
}

.sort_options {
  float: right;
  height: 80px;
  width: 190px;
  margin: 15px;
}

.timestamp {
  text-align: center;
  margin: 2px;
  margin-top: -28px;
}

.retweet, .flag, .respond, .archive {
  float: left;
  height: 30px;
  width: 10px;
  margin: 0 auto;
  padding-left: 8%;
  padding-right: 8%;
  position: relative;
  top: 17%;
}

.reply_dropdown {
  background-color: #DBF0F4;
  clear: left;
  width: 830px;
  padding: 5px;
  display: none;
  z-index: 3;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
      box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

.reply_form {
  position: relative;
  top: 10px;
  left: 10px;
  float: none
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}
